.loginButton {
    text-decoration: none;
    background-color: transparent;
    color: white;
    text-align: center;
    border: none;
}
.loginButton:hover {
   background-color: green; 
}
.logoutButton {
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: none;
}
.logoutButton:hover {
    background-color: green; 
 }

.profileImage {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.article {
    margin: 0;
    padding: 0;
    max-width: 40%;
}