.Cashier {
    color: black;
}

.selectionPanel {
    float: right;
    width: 60vw;
    max-width: 60vw;
    /* overflow-x: scroll; */
    /* background-color: lightgray; */
}

.TransactionList {
    width: 40vw;
}
