#menu-board {
    text-align: start;
    padding: 4vmin 4vmin 4vmin 4vmin;
}

#menu-board ul {
    list-style-type: none; /* Removes bullet points */
    padding: 0;
    display: flex; /* Flex box */
    flex-wrap: wrap; /* Wrapping */
    justify-content: center; /* Center items horizontally */
    gap: 20px; /* Add space between items */
}
  
#menu-board li {
    display: flex;
}

#menu-board h2, #menu-board h3 {
    text-align: center;
    margin-bottom: 20px; /* Adds some space below the titles */
}

#menu-board h2 {
    font-size: 2em;
    color: #444;
}

#menu-board h3 {
    font-size: 1.5em;
    color: #555;
}

.category-section, .sub-category-section {
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.nameStyle {
    font-size: 1.2em;
    margin-top: 1vmin;
    color: #15622f;
}

.description {
    margin-bottom: 0px;
}