#menu-board {
    text-align: center;
    padding: 4vmin 4vmin 4vmin 4vmin;
    background-color: #fff; /* Light background */
}

#menu-board ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Grid layout */
    gap: 10px;
}

#menu-board li {
    display: flex; /* Flex container */
    flex-direction: column; /* Stack children vertically */
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#menu-board h2 {
    font-size: 2.5em;
    color: #333;
    margin-top: 10px;
}

.category-section {
    margin-bottom: 30px;
    padding: 10px;
}

.nameStyle {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 2vmin;
    /* color: #15622f; */
    color: #28a745;
}

.imageStyle {
    margin-top: 2vmin;
}

.description {
    margin: 0px;
    flex-grow: 1; /* Allow description to fill available space */
}

.card-content {
    padding: 10px;
}

.price {
    font-size: 1.2em;
    font-weight: bold;
    /* color: #28a745; Green color for prices */
    color: black;
    margin: 0px;
}

#menu-board li > * {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Distribute space evenly */
}

#carousel {
    margin: auto; /* Center the carousel */
    max-width: 600px; /* Maximum width of the carousel */
    padding: 20px; /* Padding around the carousel */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Optional: Add shadow for depth */
}
  
.carousel .MuiPaper-root {
    background-color: transparent; /* Removes the white background */
}

.item-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 40vmin;
}
  
.item-image {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 10px;
}
  
.item-info {
    width: 50%;
    padding-left: 20px;
}

.item-name {
    font-size: 1.5em;
    color: #28a745;
    margin-bottom: 0.5em;
}

.item-price {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: black;
}

.item-description {
    font-size: 1em;
}