#landing-info {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding-left: 1%;
    padding-right: 1%;
}

#landing-info > #weather {
    align-items: left;
    width: 40%;
}

#landing-info > #location {
    align-items: left;
    width: 40%;
}

#landing-info > #order-now {
    display: flex;
    align-items: center;
    height: 5em;
    width: 20%;
}